<%- include('header') -%>
<%- include('navbar') -%>

  <div class="container mx-auto m-8 justify-center items-center flex">
    <div class="w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            type="password"
            placeholder="******************"
            name="password"
          />
          <p class="text-red-500 text-xs italic">Please choose a password.</p>
        </div>
        <div class="flex items-center justify-between">
          <input type="submit" class="bg-teal-500 hover:bg-tale-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" value="Login"/>
        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">
        &copy;2020 Recipe App All rights reserved.
      </p>
    </div>
  </div>
  <%- include('footer') -%>