<%- include('header') -%>
<%- include('navbar') -%>

<!-- new recipe button -->
<div class="container m-8 flex">
    <button
    class="float-right bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="button"
    onclick="location.href='/shops/1/recipes/new'"
    >
    Add new recipe
    </button>
</div>

<!-- recipes in a shop -->
<div class="container mx-auto m-8 justify-center items-center flex">
  <div class="max-w-sm w-full lg:max-w-full lg:flex">
    <div
      class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
      style="background-image: url('https://picsum.photos/200')"
      title="Woman holding a mug"
    ></div>
    <div
      class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2">Chicken with spinach</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Voluptatibus quia, nulla! Maiores et perferendis eaque,
        exercitationem praesentium nihil.
      </p>
      <div class="flex items-center">
        <div class="text-sm">
          <p class="text-gray-900 leading-none">3000 HUF</p>
          <p class="text-gray-600">15 minutes</p>
        </div>
      </div>
      <button
        class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded"
        onclick="location.href='/shops/1/recipes/1/details'"
      >
        Details
      </button>
    </div>
  </div>
</div>
<%- include('footer') -%>