<%- include('header') -%>
<%- include('navbar') -%>

<!-- Recipe detail -->
<div class="container mx-auto m-8 justify-center items-center flex">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img
          class="rounded-lg md:w-56"
          src="https://images.unsplash.com/photo-1556740738-b6a63e27c4df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=448&q=80"
          width="448"
          height="299"
          alt="Woman paying for a purchase"
        />
      </div>
      <div class="mt-4 md:mt-0 md:ml-6">
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-bold"
        >
          Chicken with spinach
        </div>
        <a
          href="/shops/1/recipes/edit/1"
          class="block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline"
          >Edit</a
        >
        <p class="mt-2 text-gray-600">Random ingredients</p>
      </div>
    </div>
  </div>
  <div class="container mx-auto m-8 justify-center items-center flex">
    <div id="preparation">
      <h1>Preparation</h1>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC, making
        it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure
        Latin words, consectetur, from a Lorem Ipsum passage, and going
        through the cites of the word in classical literature, discovered the
        undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
        1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
        Evil) by Cicero, written in 45 BC. This book is a treatise on the
        theory of ethics, very popular during the Renaissance. The first line
        of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
        section 1.10.32. The standard chunk of Lorem Ipsum used since the
        1500s is reproduced below for those interested. Sections 1.10.32 and
        1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also
        reproduced in their exact original form, accompanied by English
        versions from the 1914 translation by H. Rackham.
      </p>
    </div>
  </div>
<%- include('footer') -%>